{% extends "layout.html" %}

{% block title -%}
  {{ metadata.title }}
{%- endblock %}

{% block main %}
  <hgroup>
    <h1>{{ metadata.title }}</h1>
    <p>{{ metadata.description }}</p>
  </hgroup>
  <form method="post" action="{{ url_for('do_add_post') }}">
    <textarea id="content" name="content" rows="5" cols="80" required></textarea>
    <button type="submit">Post</button>
  </form>
  {% for post in posts %}
    <article>
      {{ post.content }}
      <footer>
        Published at <a href="{{ url_for('show_post', post_id=post.id) }}">
          <time datetime="{{ post.published.isoformat() }}">
          {{- post.published.strftime('%c') }}</time></a>
      </footer>
    </article>
  {% endfor %}
{% endblock %}
